<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		 <meta http-equiv="refresh" content="10000000">
        <title>Tachymetre!</title>
        <link rel="stylesheet" type="text/css" href="/styles/base.css">
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script>
         function updateContent (data) {
             $("#cumulDistance").text(data[7].toFixed(1));
             $("#averageSpeed").text(data[11].toFixed(1));
             $("#currSpeed").text(data[9].toFixed(1));
         }
		  function getUpdate(){
             $.ajax("http://192.168.1.104:1337/stats", {method: "GET"}).then(function(data) {updateContent(data);});
          }
          window.setTimeout(getUpdate(), 5000);
		</script>
    </head> 
    <body>
        <p><span id="cumulDistance"></span><span> km</span></p>
     	<p><span id="averageSpeed"></span><span> km/h</span></p>
        <p><span id="currSpeed"></span><span> km/h</span></p>

    </body>
</html>